body {
  background-color: #b3e5fc;
}

.card {
  max-width: 385px;
  min-width: 300px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}

.stats {
  background: #f2f5f8 !important;

  color: #000 !important;
}
.stats-value {
  font-weight: 500;
}
.stats-name {
  font-size: 12px;
  color: #454a52;
}
