<div
  class="d-flex justify-content-between flex-row container shadow bg-white border rounded-top"
>
  <h2 class="my-auto col">Pokeapi</h2>
  <form class="col-9 form-inline d-flex" (ngSubmit)="onSubmit()">
    <input
      class="form-control mr-sm-2"
      [formControl]="pokemonName"
      type="search"
      placeholder="Name"
      aria-label="Search"
    />
    <button
      class="btn btn-primary my-2 my-sm-0"
      type="submit"
      [disabled]="!pokemonName.valid"
    >
      Search
    </button>
  </form>
</div>
<header class="d-felx container shadow bg-white border rounded-bottom">
  <div *ngIf="this.pokemon">
    <div class="mt-1 mb-2 justify-content-center">
      <h2 class="mb-0 mt-0 text-center">{{ this.pokemon?.name }}</h2>
      <div class="card p-1 container">
        <div class="d-flex">
          <div class="image">
            <img
              src="{{ this.pokemon?.img }}"
              class="rounded border"
              width="180"
            />
          </div>
          <div class="ms-3 w-100 border rounded">
            <div class="">
              <p>Height: {{ this.pokemon?.height }}</p>
              <p>Weight: {{ this.pokemon?.weight }}</p>
            </div>
            <div
              class="bg-primary justify-content-between rounded text-white stats"
            >
              <div
                class="d-flex"
                *ngFor="
                  let stat of this.pokemon?.stats;
                  index as i;
                  first as isFirst
                "
              >
                <span class="stats-name">{{ stat.name }}</span>
                <span class="stats-value ms-1">{{ stat.value }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!this.pokemon"
    class="mt-1 mb-2 justify-content-center text-center"
  >
    You haven't searched for any pokemon yet :)
  </div>
</header>
